@import url('https://fonts.googleapis.com/css?family=Ubuntu:700|Josefin+Sans:400i|Quicksand:400,700');

body {
    color: #fafafa;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
    color: #fafafa;
}

.josefin-sans {
    font-family: 'Josefin Sans', sans-serif;
    color: #fafafa;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: #fafafa;
}

h1, h2, h3, h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}



/* ---------------               Heading               --------------- */



.bg-color-name-jobtitle {
    background-color: #000;
}

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.name {
    font-family: 'Ubuntu', sans-serif;
    font-size: 46px;
    margin-top: 50px;
}

.jobtitle {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
}

.col-md-4 {
    padding: 0;
}
.logo {
    background: url("../images/profile-pic.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.nav {
    height: 120px;
}

.nav-home {
    background-color: #e27d60;
}

.nav-resume {
   background-color: #85cdca;
}

.nav-contact {
   background-color: #e8a87c;
}

.nav-downloadcv {
    background-color: #c389de;
}

.nav-current {
    opacity: 0.5;
}

#nav {
    margin: 0;
    text-align: center;
    padding: 0;
}

.nav a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 120px;
    font-size: 20px
}

.nav a i {
    padding-top: 25px;
    display: block;
    color: #fafafa;
    font-size: 36px;
}

.nav span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.float:hover {
    display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.float:hover, .float:focus, .float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

#nav li {
    padding: 0;
}



/* ---------------               .heading               --------------- */

/* ---------------               Section               --------------- */







/* ---------------               .section               --------------- */

/* ---------------               Footer               --------------- */



footer {
    background-color: #000;
    min-height: 120px;
    margin: 0px;
}

h5 {
    font-size: 16px;
    text-align: left;
    padding-top: 10px;
}

footer a {
    text-decoration: none;
    color: #fafafa;
    text-align: center;
}

.inline-block {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
}

.list-inline {
    padding-left: 15px;
}

footer .fa-download {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    margin-left: 5px;
    border-radius: 50%;
    color: #fafafa;
    text-align: center;
    line-height: 8px;
    background-color: #8f8f8f;
}

footer .cv {
    padding-top: 5px;
}

footer .social-links {
    padding-top: 25px;
}

footer .glyphicon-envelope, .glyphicon-phone, .fa-linkedin, .fa-facebook {
    color: #fafafa;
    font-size: 14px;
    text-align: center;
}

footer i:hover {
    background-color: #fafafa;
    color: #ff7700;
    width: 37px;
    height: 37px;
    line-height: 14px;
    transition: all 0.35s ease-in-out;
}

.social-links {
    padding-bottom: 10px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    color: #fafafa;
    text-align: center;
    line-height: 8px;
    background-color: #8f8f8f;
}

.social-links li a i:hover {
    background-color: #fafafa;
    color: #ff7700;
    width: 37px;
    height: 37px;
    line-height: 14px;
    transition: all 0.35s ease-in-out;
}



/* ---------------               .footer               --------------- */
